
.container__question{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.item__question{
    width: 400px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 15px;
    display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0;
    background-color: #AAB7B8;
}

.item__question:hover{
    cursor: pointer;
    transform: translateY(-10px) scale(1.03) ;
    transition: transform 200ms ease;
}

